

.main{
	width:500px;
	margin:80px 30px;
}

.b{
	float:left;
	background-color:rgba(0,0,0,0.1);
	width:80%;
	height:400px;
	font-size:18px;
	border-radius:50px;	
	box-shadow:2px 2px 15px rgba(46, 43, 43, 0.6);
	color:rgb(255, 255, 255);
}
.c{
	height:300px;
	width:300px;
	float:center;
}
form{
	margin:60px;
}

input[type=text]{
	width:300px;
	border:none;
	border-radius:4px;
	outline:0;
	padding:8px;
	background-color:rgb(255, 255, 255,0.8);
}

input[type=email]{
	width:300px;
	border:none;
	border-radius:4px;
	outline:0;
	padding:8px;
	background-color:rgb(255, 255, 255,0.8);
}

input[type=password]{
	width:300px;
	border:none;
	border-radius:4px;
	outline:0;
	padding:8px;
	background-color:rgb(255, 255, 255,0.8);
}
button[type=submit]{
	width:100px;
	padding:7px;
	font-size:16px;
	font-family:sana-serif;
	border:none;
	border-radius:8px;
	background-color:rgba(255, 255, 255, 0.8);
	color:rgb(35, 33, 33);
	transition:.4s ease;
}
input[type=submit]:hover{
	background-color:white;
}
a{
	color:white;
	text-decoration:none;
}

h1{
	text-align: center;
}





